.page-lsd {
  background-image: url("../../assets/images/lsd-page-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;

  &__header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    align-items: center;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    &__panel {
      position: relative;
      img {
        width: 100%;
      }
      &__container {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        &__link-1 {
          position: absolute;
          right: 65%;
          left: 10%;
          top: 54%;
          bottom: 25%;
          cursor: pointer;
        }
        &__link-2 {
          position: absolute;
          right: 37.5%;
          left: 37.5%;
          top: 54%;
          bottom: 25%;
          cursor: pointer;
        }
        &__link-3 {
          position: absolute;
          right: 10%;
          left: 65%;
          top: 54%;
          bottom: 25%;
          cursor: pointer;
        }
        &__text {
          position: absolute;
          right: 10%;
          left: 10%;
          top: 33%;
          color: white;
          font-size: 18px;
          text-shadow: rgb(0, 0, 0) 1px 1px 4px;

          @media only screen and (max-width: 1200px) {
            font-size: 14px;
          }

          @media only screen and (max-width: 600px) {
            font-size: 12px;
          }
        }
      }
    }

    &__coin {
      display: flex;

      img {
        width: 100%;
        // @media only screen and (max-width: 1200px) {
        //   width: 350px;
        //   margin: auto;
        // }
      }
    }
  }

  &__body {
    position: relative;
    color: white;
    margin-bottom: 200px;

    // margin-left: -80px;
    // margin-right: -80px;

    @media only screen and (max-width: 1200px) {
      // margin-left: 0px;
      // margin-right: 0px;
    }

    &__bg {
      width: 100%;

      @media only screen and (max-width: 1200px) {
        display: none;
      }
    }
    &__container {
      position: absolute;
      top: 11%;
      right: 11%;
      bottom: 11%;
      left: 11%;

      @media only screen and (max-width: 1200px) {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        padding: 10px;
        gap: 50px;
        background-size: 100% 3px;
        background-image: linear-gradient(#ffffffcc 1px, #81afd8cc 2px);
        border-radius: 20px;
        border: 2px solid white;
      }

      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        align-items: center;

        @media only screen and (max-width: 1200px) {
          grid-template-columns: 1fr;
        }

        &__left {
          &__title {
            font-size: 42px;
            text-align: center;
            text-shadow: rgb(4, 49, 55) 1px 1px 4px;

            @media only screen and (max-width: 1200px) {
              font-size: 28px;
            }
          }
          &__underline {
            height: 3px;
            background-color: white;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          &__text {
            font-size: 18px;
            background-color: rgba(46, 166, 181, 0.4);
            text-shadow: rgb(4, 49, 55) 1px 1px 4px;
            padding: 10px;
            border-radius: 5px;
            line-height: 30px;

            @media only screen and (max-width: 1200px) {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
        &__right {
          img {
            width: 100%;
          }
        }
      }
      &__2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        font-size: 24px;
        color: white;
        text-shadow: rgb(4, 49, 55) 1px 1px 4px;
        border-radius: 5px;
        line-height: 30px;

        @media only screen and (max-width: 1200px) {
          font-size: 18px;
        }

        @media only screen and (max-width: 600px) {
          font-size: 14px;
        }

        @keyframes bounce {
          0% {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            transform: translateY(0);
          }
          100% {
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            transform: translateY(10px);
          }
        }

        &__community,
        &__play,
        &__governance {
          gap: 20px;
          img {
            -webkit-animation-name: bounce;
            -moz-animation-name: bounce;
            animation-name: bounce;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            -moz-animation-direction: alternate;
            animation-direction: alternate;
            -webkit-animation-duration: 2s;
            -moz-animation-duration: 2s;
            animation-duration: 2s;
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 80px;

            @media only screen and (max-width: 1200px) {
              width: 50px;
            }
          }
        }
      }
      &__3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;

        @media only screen and (max-width: 1200px) {
          grid-template-columns: 1fr;
        }

        &__left {
          img {
            width: 100%;
          }
        }
        &__right {
          &__title {
            font-size: 42px;
            text-align: center;
            text-shadow: rgb(4, 49, 55) 1px 1px 4px;

            @media only screen and (max-width: 1200px) {
              font-size: 28px;
            }
          }
          &__underline {
            height: 3px;
            background-color: white;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          &__text {
            font-size: 18px;
            background-color: rgba(46, 166, 181, 0.4);
            text-shadow: rgb(4, 49, 55) 1px 1px 4px;
            padding: 10px;
            border-radius: 5px;
            line-height: 30px;

            @media only screen and (max-width: 1200px) {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
      &__4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 18px;
        color: white;
        text-shadow: rgb(4, 49, 55) 1px 1px 4px;
        padding: 10px;
        border-radius: 5px;
        &__initial-supply,
        &__sale-price,
        &__total-supply {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          &__value {
            font-size: 18px;
            text-shadow: rgb(255, 255, 255) 0px 0px 10px;

            @media only screen and (max-width: 1200px) {
              font-size: 14px;
            }
          }
          &__title {
            font-size: 24px;
            text-shadow: rgb(4, 49, 55) 1px 1px 4px;
            text-align: center;

            @media only screen and (max-width: 1200px) {
              font-size: 18px;
            }

            @media only screen and (max-width: 600px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.container {
  @media only screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  @media only screen and (max-width: 992px) {
    max-width: 960px;
  }
  @media only screen and (max-width: 768px) {
    max-width: 720px;
  }
  @media only screen and (max-width: 576px) {
    max-width: 540px;
  }
  margin: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
