@font-face {
  font-family: "ObviaExpanded";
  src: url("../../assets/fonts/ObviaExpanded-Bold.ttf");
}

@font-face {
  font-family: "Bosnia";
  src: url("../../assets/fonts/bosnia.ttf");
}

@font-face {
  font-family: "RelishGargler";
  src: url("../../assets/fonts/RelishGargler.otf");
}

body {
  font-family: ObviaExpanded;
}
